<nav class="navbar navbar-expand-lg"  style="background: linear-gradient(-135deg, #c850c0, #4158d0)">
    <div class="container-fluid">
        <a class="navbar-brand" style="color: white;" href="index.html">
            <i class="fa fa-amazon mr-2" ></i>
            Product List
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent" >
            <ul class="navbar-nav ml-auto mb-2 mb-lg-0" >
                <li class="nav-item" [routerLink]="'/product'" style="cursor: pointer;">
                    <a class="nav-link nav-link-1 active" aria-current="page" style="color: white;">Product</a>
                </li>
                <li class="nav-item" [routerLink]="'/login'" style="cursor: pointer;" (click)='logout()'>
                    <a class="nav-link nav-link-2" style="color: white;">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid tm-container-content tm-mt-60">
    <div>
        <mat-paginator [length]='dataSize'
        [pageSize]="5"
        [pageSizeOptions]="[1,2,3,4,5]"
        (page)="changepage($event)"
        >
</mat-paginator>
    </div>

    <div  style="display: flex; justify-content: center;" *ngIf="loading">
        <mat-spinner></mat-spinner>
    </div>
    <div class="row mb-3 tm-gallery" *ngIf="!loading">
        <div *ngFor='let product of products' class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
            <div *ngIf='admin' style="width: 100px;">
                <i class="fa fa-times fa-2x pr-2" style="color: rgb(206, 56, 56); cursor: pointer;" aria-hidden="true" (click)="edite(product,'delete')"></i>
                <i class="fa fa-pencil-square fa-2x" style="color: rgb(55, 55, 187); cursor: pointer;" aria-hidden="true" (click)="edite(product,'edite')"></i>
            </div>
            <figure class="effect-ming tm-video-item">
                <img src="{{product.image}}" alt="Image" class="img-fluid">
                <figcaption class="d-flex align-items-center justify-content-center">
                    <h2>{{product.title}}</h2>
                    <a (click)="openDetailsDialog(product)">View more</a>
                </figcaption>
            </figure>
        </div>
    </div>
</div>