<h2 mat-dialog-title class="col-12 tm-text-primary">{{data.title}} Product Details </h2>
<mat-dialog-content class="mat-typography ">
    <div class="row">
        <div class="col-md-6 ">
                <figure class="view overlay rounded z-depth-1 main-img">
                    <img src="{{data.image}}"
                      class="img-fluid z-depth-1">
                </figure>
        </div>

        <div class="col-md-6">
          <h5 style="font-weight: 500; font-size:x-large">{{data.title}}</h5>

          <p><span class="mr-1" style="font-weight: 500; font-size:large"><strong>${{data.price}}</strong></span></p>

          <p class="pt-1">{{data.description}}</p>
          <div class="table-responsive">
            <table class="table table-sm table-borderless mb-0">
              <tbody>
                <tr>
                  <th class="pl-0 w-25" scope="row"><strong>Model</strong></th>
                  <td> Model-0 </td>
                </tr>
                <tr>
                  <th class="pl-0 w-25" scope="row"><strong>Color</strong></th>
                  <td>Black</td>
                </tr>
                <tr>
                  <th class="pl-0 w-25" scope="row"><strong>Delivery</strong></th>
                  <td>USA, Europe</td>
                </tr>
                <tr>
                    <th class="pl-0 w-25" scope="row"><strong>Quantity</strong></th>
                    <td>{{data.quantity}}</td>
                  </tr>
              </tbody>
            </table>
          </div>
          <hr>
        </div>
      </div>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-raised-button color="warn" mat-dialog-close>Close</button>
</mat-dialog-actions>