<div class="limiter">
	<div class="container-login100">
		<div class="wrap-login100">
			<div class="login100-pic js-tilt">
				<img src="assets/shopping-online.jpg" alt="IMG">
				</div>

				<form [formGroup]="Loginform" class="login100-form">
					<span class="login100-form-title">
						Admin Login
					</span>

					<div class="wrap-input100">
						<input class="input100" type="text" name="UserName"  formControlName="username" placeholder="UserName" required >
						<div style="color: red;" *ngIf="formError[0]">
							userName is required.
						</div>
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-user-o" aria-hidden="true"></i>
						</span>
					</div>

					<div class="wrap-input100" >
						<input class="input100" type="password" name="pass"  formControlName="password" placeholder="Password" required>
						<div style="color: red;" *ngIf="formError[1]">
							Password is required.
						</div>
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
					</div>

	

					<div class="container-login100-form-btn">
						<button class="login100-form-btn" (click)="login()">
							Login
						</button>
					</div>

					<div style="color: red;">
						{{message}}
					</div>

					<div class="text-center p-t-136" >
						<a class="txt2" (click)='userLogin()' style="font-size: x-large; color: #57b846;" [routerLink]="'/product'">
							User Login
							<i class="fa fa-long-arrow-right m-l-5"  aria-hidden="true"></i>
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>