<h2 mat-dialog-title>Edite Product {{data.title}}</h2>
<mat-dialog-content class="mat-typography">
    <form [formGroup]="Edite" class="form">
        <mat-form-field appearance="outline">
            <mat-label>title</mat-label>
        <input matInput formControlName="title" required>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>price</mat-label>
        <input matInput type="number" formControlName="price" required>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>quantity</mat-label>
            <input matInput type="number" formControlName="quantity"required>
     </mat-form-field>

     <mat-form-field appearance="outline">
        <mat-label>description</mat-label>
    <textarea matInput formControlName="description" style="min-height: 100px;"  required></textarea>
    </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="'close'" >Cancel</button>
  <button mat-button [disabled]='Edite.invalid' [mat-dialog-close]="Edite.value" cdkFocusInitial>Save</button>
</mat-dialog-actions>