/* You can add global styles to this file, and also import other style files */
 
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~font-awesome/css/font-awesome.css';
@import './styles/bootstrap.min.css';
@import './styles/templatemo-style.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } 
